# =========================
# Godot 4
# =========================

.godot/
.import/
*.import
.nomedia

# =========================
# Export
# =========================

export.cfg
export_credentials.cfg

# =========================
# Temp Files
# =========================

*.tmp

# =========================
# Translation
# =========================

*.translation

# =========================
# Mono
# =========================

.mono/
data_*/
mono_crash.*.json